:root {
  --mainBlue3: rgb(0, 126, 160);
  --mainBlue2: rgb(19, 76, 92);
  --mainBlue: rgb(120, 199, 232);
  --mainBrown: #2d1e1f;
  --mainYellowmain: rgb(255, 158, 9);
  --mainYellow: rgb(120, 199, 232);
  --mainGrey: rgb(235, 229, 218);
  --mainWhite: #fff;
  --mainDark: #222;
  /* can also setup colors in other sections */
}

.logo {
  font-size: 1rem;
  font-family: "Montserrat Alternates", Courier;
  color: #9b9b9b;
  letter-spacing: 1px;
  font-style: italic;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: "Montserrat Alternates", Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat Alternates", "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon:hover,
.cart-icon {
  cursor: pointer;
  color: var(--mainBlue);
  font-size: 2rem;
  margin-left: 2rem;
}

.cart-icon:hover {
  color: var(--mainYellowmain);
}

.default-background,
.about-background {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(120, 199, 232, 0.5),
      rgba(120, 199, 232, 0.5));
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 60vh;
}

.nav-hover,
.btn-blue {
  color: var(--mainBlue);
  border-color: var(--mainBlue);
}

.nav-hover:hover,
.btn-blue:hover {
  background: var(--mainBlue);
  color: var(--mainDark);
  border-radius: 5px;
}

/*  ||    CATEGORY BUTTONS  ||   */
/*  ||   < < < Start > > >  ||   */
.btn-yellow {
  color: var(--mainYellowmain);
  border-color: var(--mainYellowmain);
}

.btn-yellow:hover {
  background: var(--mainYellowmain);
  color: var(--mainGrey);
  border-radius: 14px;
}

/*  ||   < < < EMD > > >  ||   */

.nav {
  background-color: var(--mainBlue);
}

.footer {
  background: var(--mainBlue);
}

.menu,
.contact {
  background: var(--mainGrey);
}

.price-yel {
  color: var(--mainYellow);
}