:root {
  --mainBlue: rgb(0, 126, 160);
  --mainBrown: #2d1e1f;
  --mainYellow: rgb(255, 158, 9);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
  /* can also setup colors in other sections */
}

.logo {
  font-size: 1rem;
  font-family: "Montserrat Alternates", Courier, ;
  color: #9b9b9b;
  letter-spacing: 1px;
  font-style: italic;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: "Montserrat Alternates", Verdana,
    Geneva,
    Tahoma,
    sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat Alternates", 'Courier New', Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainBlue);
  font-size: 2rem;
  margin-left: 2rem;
}

.cart-icon2 {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.default-background,
.about-background {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 126, 160, 0.5), rgba(0, 126, 160, 0.5));
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 60vh;
}

.btn-blue {
  color: var(--mainBlue);
  border-color: var(--mainBlue);
}

.btn-blue:hover {
  background: var(--mainBlue);
  color: var(--mainGrey);
}

.footer {
  background: var(--mainBlue);
}