@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratAlternatesSemiBold";
  src: url("MontserratAlternates-SemiBold.ttf") format("truetype");
}
